* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: crosshair;
}

.sidebar {
    width: 25%;
    background-color: #ffffff;
    padding: 20px;
    position: fixed;
    height: 100%;
    outline: 1px solid #000000;
}

.sidebar a{
    display: block;
    color: #000000;
    text-decoration: none;
    text-indent: 10px;
}


.sidebar a:hover {
    background-color: rgb(180, 255, 119);
    text-decoration: none;
    color: transparent;
    text-shadow: 0px 0px 2px rgb(0, 0, 0);
    cursor: help;

}

.sidebar a:active {
    color: transparent;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}


.container {
    width: 75%;
    max-width: 1200px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 20px;
   
}

body {
    background-color: #ffffff;
    color: #000000;
}

#name {
    color: transparent;
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
    text-shadow: 0px 0px 3px rgb(180, 255, 119);
}

#name a {
    color: transparent;
    text-decoration: none;
    text-indent: 0px;
}

#name a:hover {
    color: transparent;
    text-shadow: 0px 0px 3px rgb(139, 94, 211);
    text-decoration: none;
    cursor: help;
    background-color: rgb(255, 255, 255);
}

h1 {
    color: rgb(139, 94, 211);
    font-size: 1.5em;
}

h2 {
    color: rgb(0, 0, 0);
    font-size: 1em;
    margin: 5px 0;
}

h3 {
    text-decoration: bold;
    text-shadow: 0px 0px 2px rgb(180, 255, 119);
    font-size: 1em;
}

p {
    margin: 10px 0;
}

img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}


footer {
    font-size: .75em;
    margin-top: 20px;
    bottom: 10px;
    position: fixed;
}