* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Chivo';
}

/* --------------- FONT DEFAULTS --------------- */

p {
    font-family: 'Courier Prime', Courier, monospace;
    font-weight: 500;
    font-size: clamp(0.8rem, 2vw, 1.2rem);
    padding-top: 0.5rem;
}

h1 {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    text-align: center;
}

h2 {
    font-size: clamp(1.2rem, 3vw, 2.1rem);
    padding-top: 2rem;
    text-align: center;
    color: #393939;
}

i {
    font-family: 'Courier Prime', Courier, monospace;
    font-size: clamp(0.8rem, 2vw, 1.2rem);
}

li {
    padding-top: 0.5rem;
    font-family: 'Courier Prime', Courier, monospace;
    font-size: clamp(0.8rem, 2vw, 1.2rem);
    margin-left: 2.5rem;
}

a {
    font-family: 'Courier Prime', Courier, monospace;
    font-size: clamp(0.8rem, 2vw, 1.2rem);
    color: #141414;
    font-weight: 600;
}

strong {
    font-size: clamp(0.8rem, 2vw, 1.2rem);
    color: #141414;
    font-weight: 600;
}

/* --------------- Navbar CSS --------------- */

.navbar {
    background: #fff;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 99;
    border-bottom: solid 4px #141414;
}

.navbar__container {
    display: flex;
    justify-content: center;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 25px;
}

#navbar__logo {
    font-family: 'Chivo';
    font-weight:400;
    color: #141414;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 99;
    text-decoration: none;
    font-size: 2rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__menu a {
    font-size: 1.3rem;
}

.navbar__item {
    height: 5px;
}

.navbar__links {
    font-family: 'Chivo';
    font-weight:400;
    /*alignment*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    height: 100%;
    width: 80%;
    /*decoration*/
    color: #141414;
    text-decoration: none;
    
}

.navbar__links:hover {
    transform: scale(1.03);
    transition: all 0.3s ease;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    width: 80%;
}

.nav__button {
    font-weight: 500;
    /*alignment*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 15px;
    height: 100%;
    width: 100%;
    /*decoration*/
    border: solid;
    border-color: #141414;
    border-radius: 5px;
    background: #fff;
    color: #141414;
}

.nav__button:hover {
    color: #fff;
    background-color: #141414;
    transition: all 0.3s ease;
}

.navbar__toggle {
    z-index: 99;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        z-index: -1;
        background: #f0f0f0;
    }
    
    .navbar__menu.active {
        display: flex;
        flex-direction: column;
        background: #fff;
        border-bottom: solid 4px #141414;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 0;
        height: 250px;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 7px auto;
        transition: all 0.3s ease-in-out;
        background: #141414;
    }

    .navbar__item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px;
        font-size: 1.2rem;
    }

    .navbar__links {
        text-align: center;
        align-items: center;
        display: flex;
        margin: 30px 0 0 0;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        width: max(300px, 60%);
        align-items: center;
        padding: 40px;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(10px) rotate(45deg)
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg)
    }
}

/* --------------- Hero Section CSS --------------- */

.main {
    background-color: #fff;
}

.main__container {
    display: flex;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px auto;
    min-height: 90vh;
    height: 100%;
    background-color: #fff;
    z-index: 1;
    width: 100%;
    max-width: 1200px;
    padding: 0 5px;
}

.main__content {
    margin: 5px 25px;
}

.main__img--container {
    text-align: center;
}

#main__img {
    height: 80%;
    width: 80%;
}

.separator {
    margin: 25px 0;
    height: 5px;
    background-color: #141414;
}

/* --------------- Items Section CSS --------------- */
.items {
    background: #fff;
    /* center div */
    display: flex;
    justify-content: center;
}

.items__container {
    margin: 0 50px 50px 50px;
    /* grid settings */
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    flex-wrap: wrap;
    gap: 10px;
    grid-auto-rows: minmax(100px, 1fr);
    grid-auto-columns: minmax(100px, 1fr);
    /* set width, height and max */
    height: 100%;
    width: 100%;
    max-width: 1200px;
}

/* ---- INDIVIDUAL ITEMS ---- */

.items__card {
    /*box settings*/
    border-radius: 4px;
    height: 100%;
    background-image: url('/images/dither1.png');
    background-size: cover;
    border: solid 5px #141414;
    /*text settings*/
    color: #141414;
    text-decoration: none;
    /*spacing settings*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*animation settings for all cards*/
    transition: all 0.3s ease;
}

.item__text {
    /*center text box*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*text align and spacing*/
    text-align: center;
    width: 70%;
    height: 40%;
    padding: 10px;
    /*color and border*/
    background-color: #fff;
    border-radius: 4px;
}

.item__text h2 {
    color: #141414;
    font-family: 'Courier Prime', Courier, monospace;
    font-weight: 500;
    padding: 0;
    font-size: clamp(1rem, 2vw, 1.5rem);
}

/*work*/
#item1 {
    grid-column: span 3;
    grid-row: span 3;
}

/*about*/
#item2 {
    grid-column: span 2;
    grid-row: span 3;
}

/*favorites*/
#item4 {
    grid-column: span 1;
    grid-row: span 3;
}

/* favorites special format */
#item4 .item__text {
    height: 70%;
    width: 40%;
}

#item4 .item__text h2 {
    transform: rotate(90deg);
}

/*itch*/
#item5 {
    grid-column: span 2;
    grid-row: span 2;
}

/*archive*/
#item6 {
    grid-column: span 1;
    grid-row: span 2;
}

/* archive special format */
#item6 .item__text {
    height: 70%;
    width: 40%;
}

#item6 .item__text h2 {
    transform: rotate(90deg);
}

/*resume*/
#item3 {
    grid-column: span 2;
    grid-row: span 2;
}

/* resume special format */
#item3 .item__text {
    height: 70%;
    width: 40%;
}

#item3 .item__text h2 {
    transform: rotate(90deg);
}

/*collabs*/
#item9 {
    grid-column: span 1;
    grid-row: span 1;
}

/*contact*/
#item10 {
    grid-column: span 1;
    grid-row: span 1;
}

.items__card p {
    position: absolute;
    align-items: center;
    justify-self: center;
}

.items__card:hover {
    transform: scale(1.03);
    z-index: 1;
    cursor: pointer;
}

@media screen and (max-width: 2560px) {

    .items__container {
        grid-template-columns: repeat(6, minmax(150px, 1fr));
    }
}

@media screen and (max-width: 900px) {

    .items__container {
        grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
        grid-template-columns: repeat(3, minmax(100px, 1fr));
    }

    /*work*/
    #item1 {
        grid-column: span 3;
        grid-row: span 3;
    }

    /*about*/
    #item2 {
        grid-column: span 3;
        grid-row: span 2;
    }

    /*resume*/
    #item3 {
        grid-column: span 1;
        grid-row: span 3;
    }

    /*favorites*/
    #item4 {
        grid-column: span 1;
        grid-row: span 4;
    }

    /*itch*/
    #item5 {
        grid-column: span 2;
        grid-row: span 2;
    }

    /*3*/
    #item6 {
        grid-column: span 1;
        grid-row: span 2;
    }

    /*collabs*/
    #item9 {
        grid-column: span 2;
        grid-row: span 1;
    }

    /*contact*/
    #item10 {
        grid-column: span 3;
        grid-row: span 1;
    }
}


/* --------------- Footer CSS --------------- */

.footer__container {
    background-color: #fff;
    border-top: solid 4px #141414;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer__logo {
    font-family: 'Chivo';
    font-weight:400;
    color: #141414;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer__link--wrapper {
    display: flex;
    align-items: top;
}

.footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    text-align: left;
    width: clamp(50px, 15vw, 150px);
    box-sizing: border-box;
}

.footer__link--items h2 {
    color: #141414;
    font-size: clamp(1rem, 3vw, 1.5rem);
    margin-bottom: 10px;
}

.footer__link--items a {
    color: #141414;
    font-size: clamp(0.8rem, 2.5vw, 1.2rem);
    font-family: 'Courier Prime', Courier, monospace;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer__link--items a:hover {
    color: #727272;
    transition: 0.3s ease-out;
}

/* --------------- Social Icons --------------- */

.social__icon--link {
    margin: 0px 25px;
    color: #141414;
    font-size: 24px;
}

.social__media {
    max-width: 1000px;
    width: 100%;
}

.social__media--wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 25px auto 25px auto;
}

.social__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
}

.social__logo {
    color: #141414;
    justify-self: flex-start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.website__rights {
    color: #141414;
    font-family: 'Courier New', Courier, monospace;
}

@media screen and (max-width: 950px) {
    .footer__links {
        padding-top: 2rem;
    }

    #footer__logo {
        margin-bottom: 2rem;
    }

    .website__rights {
        margin-bottom: 2rem;
    }

    .social__media--wrap {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .footer__link--items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
    
}


/* --------------- Work Section --------------- */

.work {
    background: #fff;
}

.work__container {
    position: relative;
    max-width: 1350px;
    width: 100%;
    padding: 20px;
    margin: 0 auto auto auto;
    min-height: 900px;
}

.filter__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.filter__buttons button {
    padding: 10px 20px;
    font-size: 1rem;
    background: #fff;
    border: 2px solid #141414;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.filter__buttons button.active {
    background: #141414;
    color: #fff;
}

.filterable__cards {
    display: flex;
    margin-top: 25px;
    gap: 10px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 300px;
    background-color: #141414;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.card:nth-child(1) {
    flex-grow: 6;
}

.card:nth-child(3) {
    flex-grow: 3;
}

.card:nth-child(6) {
    flex-grow: 4;
}

.card:nth-child(11) {
    flex-grow: 6;
}

.card:nth-child(15) {
    flex-grow: 5;
}

.card:hover {
    transform: scale(1.03);
}

.card.hide {
    display: none;
}

.card img {
    width: 100%;
    height: 275px;
    vertical-align: top;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.card__body {
    padding: 15px 20px 20px;
}

.card__title {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

.card__text {
    font-family: 'Courier Prime', Courier, monospace;
    font-size: 18px;
    color: #f0f0f0;
}

/* --------------- Individual Work Section --------------- */

.individual__work {
    background: #fff;
}

.individual__work iframe {
    margin: 1rem;
    border: solid #141414 4px;
    border-radius: 4px;
}

.individual__work__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}

.individual__work__images {
    display: flex;
    justify-content: center;
    background-color: #fff;
    width: clamp(360px, 60%, 800px);
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 5px;
}

.individual__image__main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.individual__image__sub {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.2rem;
    width: 48%;
}

.individual__image {
    /*image settings*/
    object-fit: cover;
    width: 100%;
    margin: 0.5rem;
    /*border*/
    border: solid #141414 4px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.individual__image__sub .individual__image {
    /*image settings*/
    aspect-ratio: 16/9;
}

.individual__work__text {
    background: #fff;
    width: clamp(360px, 60%, 800px);
    text-align: left;
    justify-self: left;
    justify-content: left;
    margin: 15px;
}







.individual__work__pdf {
    background: #fff;
    padding: 10px;
    width: clamp(400px, 60%, 800px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.individual__pdf {
    width: 100%;
    height: 1000px;
}

/* FULLSCREEN BUTTON */

.fullscreen {
    position: absolute;
    bottom: 12px;
    right: 12px;
    z-index: 1;
    transition: all 0.3s ease;
    cursor: pointer;
}

.fullscreen:hover {
    transform: scale(1.09);
}

.fullscreen__background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #141414;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: opacity 0.3s ease;
}

.fullscreen__background.active {
    visibility: visible;
    opacity: 0.5;
}

/* PREVIEW PAGES / CONTROLS */

.page__container {
    background-color: #ffffff;
    padding: 10px;
    width: clamp(400px, 60%, 800px);
}

.page__container.active {
    position: fixed;
    width: clamp(400px, 70%, 100vh*8.5/11);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.page__wrapper {
    z-index: inherit;
    border: solid #141414 4px;
    border-radius: 8px;
    position: relative;
    margin: 0 auto;
}

.pages {
    z-index: inherit;
    display: flex;
    aspect-ratio: 8.5 / 11;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 4px;
    anchor-name: --buttons;
    scroll-marker-group: after;
}

.pages::scroll-marker-group {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translate(-50%);
    justify-content: center;
    gap: 0.5em;
    padding: 15px;
    margin-bottom: 15px;
}

.pages img::scroll-marker {
    content: '';
    height: 12px;
    width: 12px;
    background-color: #141414;
    opacity: 0.5;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.pages img::scroll-marker:hover {
    transform: scale(1.09);
}

.pages img::scroll-marker:target-current {
    opacity: 1;
}

.pages::scroll-button(right), .pages::scroll-button(left) {
    /*look of button*/
    content: '>';
    background-color: #141414;
    color: #fff;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    /*cursor and scroll behavior*/
    cursor: pointer;
    scroll-behavior: smooth;
    /*position in relation to parent*/
    position: fixed;
    position-anchor: --buttons;
    position-area: right center;
    translate: -50%;
}

.pages::scroll-button(left) {
    content: '<';
    position-area: left center;
    translate: 50%;
}

.pages::scroll-button(left):disabled, .pages::scroll-button(right):disabled {
    background-color: #707070;
    cursor: auto;
}

.pages img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.button__container {
    display: flex;
    justify-content: center;
    overflow-wrap: wrap;
    background-color: #fff;
    width: clamp(360px, 60%, 800px);
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 5px;
}

/* BUTTONS AND EXPANDER */

.button, .expander {
    display: flex;
    color: #141414;
    background-color: #fff;
    text-decoration: none;
    /* sizing */
    height: 50px;
    width: max(40%, 250px);
    /* alignment */
    align-items: center;
    justify-content: center;
    /* border and padding */
    border: solid #141414 2px;
    border-radius: 4px;
    padding: 15px 15px;
    margin: 15px;
    /* cursor and transition */
    cursor: pointer;
    transition: all 0.3s ease;
}

.button p, .expander p {
    font-family: 'Courier Prime', Courier, monospace;
    font-size: clamp(0.8rem, 2vw, 1rem);
    text-align: center;
    align-items: center;
    justify-content: center;
    text-overflow: clip;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    white-space: nowrap;
}

.button:hover, .expander:hover {
    color: #fff;
    background-color: #141414;
}

/* EXPANDABLE INPUT BOX */

.expandable__container {
    /* align and flex */
    display: none;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow-wrap: wrap;
    flex-wrap: wrap;
    /*color*/
    background-color: #fff;
    /* size and padding */
    width: clamp(400px, 60%, 800px);
}

.triangle {
    width: 0px;
    height: 0px;
    border: solid #141414 25px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    margin-top: -55px;
    justify-self: flex-end;
    transform: translate(-200%, 20px);
}

.input__box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    background-color: #141414;
    border-radius: 16px;
}

.input__box input {
    width: 80%;
    height: 40px;
    border-radius: 8px;
    padding: 10px;
    border: solid #fff 5px;
}

.input__details {
    font-family: 'Courier Prime', Courier, monospace;
    color: #fff;
    font-size: 1.2rem;
    position: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    width: 150px;
    text-align: right;
}

.input__button {
    /* placement */
    display: flex;
    justify-content: center;
    align-items: center;
    /* color and decoration */
    color: #141414;
    background-color: #fff;
    text-decoration: none;
    /* sizing */
    height: 40px;
    width: 100px;
    /* border and padding */
    border: solid #fff 2px;
    border-radius: 4px;
    margin: 15px;
    /* cursor and transition */
    cursor: pointer;
    transition: all 0.3s ease;
}

.input__button:hover {
    color: #fff;
    background-color: #141414;
}

.input__button p {
    font-family: 'Courier Prime', Courier, monospace;
    font-size: 14px;
    text-align: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}


/* COLLAB SECTION */

.collab__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

.collab__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: clamp(300px, 40%, 500px);
}

.collab__box img {
    object-fit: contain;
    height: 100px;
    width: 200px;
    
}

.collab__box h1 {
    margin-top: 10px;
    font-size: clamp(1.4rem, 2vw, 2.3rem);
}

.collab__box p {
    font-size: clamp(0.6rem, 1vw, 1.15rem);
    margin: 0px;
}